<!DOCTYPE html> <!--main layout file -->
<html>
  <head>
    <title>SggwProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><!-- main body for all views, for example every style applied to this body will also affect all other html files within views folder-->
    <%= yield %>
  </body>
</html>
